{% extends "layout.html" %}
{% block content %}
<div class="modal fade" id="new_lpar" aria-hidden="true" aria-labelledby="new_lparLabel" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="new_lpar"><em class="bi bi-key"></em> LPAR
          <small class="text-muted">Settings | New LPAR</small></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/lpar/settings/new" method="post">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <div class="row mb-3">
            <label for="lpar" class="col-sm-2 col-form-label">LPAR Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" id="lpar_name" name="lpar_name" value="">
            </div>
          </div>
          <div class="row mb-3">
            <label for="lpar" class="col-sm-2 col-form-label">Hostname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" id="hostname" name="hostname" value="">
            </div>
          </div>
          <div class="row mb-3">
            <label for="lpar" class="col-sm-2 col-form-label">Syslog HLQ</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" id="dataset" name="dataset" value="">
            </div>
          </div>
          <div class="row mb-3">
            <label for="lpar" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" id="username" name="username" value="">
            </div>
          </div>
          <button type="submit" class="btn btn-sm btn-success"><em class="bi bi-save"></em> Save</button>
          <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><em class="bi bi-arrow-left-square"></em> Back</button>
        </form>
      </div>
    </div>
  </div>
</div>
<h5><em class="bi bi-cpu"></em> LPAR
  <small class="text-muted">Settings</small><small><a href="/lpar/settings/new/step-1" class="btn btn-sm btn-success float-end">
    <em class="bi bi-plus-circle"></em> New</a></small>
</h5>
<hr class="bg-dark">
<table id="datatable_load_10" class="table table-hover pt-3">
  <thead>
    <tr class="bg-dark text-light align-middle">
      <th scope="col">LPAR</th>
      <th scope="col">Hostname</th>
      <th scope="col">Syslog Qualifier</th>
      <th scope="col">Username</th>
      <th scope="col" class="text-center">Enabled</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for result in results %}
    <tr>
      <th scope="row">{{ result["lpar"]|upper }}</th>
      <td>{{ result["hostname"] }}</td>
      <td>{{ result["dataset"] }}</td>
      <td>{{ result[username] }}</td>
      <td class="text-center">
        {% if result["enable"] == 1 %}
        <em class="bi bi-toggle-on" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Active"></em>
        {% else %}
        <em class="bi bi-toggle-off" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Inactive"></em>
        {% endif %}
      </td>
      <td>
        <a href="/lpar/settings/{{ result['id'] }}" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Settings for {{ result['lpar']|upper }}"><em class="bi bi-gear-fill"></em></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}